// 颜色规范
$color-theme = #398dee
$color-font-theme = #fff
$color-background = #fbfdff
// 字体大小规范
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px
